<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <settings>
         <setting name="logImpl" value="LOG4J2" />
         <setting name="cacheEnabled" value="true"/>
     </settings> -->
    <typeAliases>
        <!--
            <typeAlias alias="Goods" type="com.ai.entity.Goods"/>
         -->
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="Date" jdbcType="DATE" handler="org.apache.ibatis.type.DateOnlyTypeHandler"/>
        <typeHandler javaType="Integer" jdbcType="INTEGER" handler="org.apache.ibatis.type.IntegerTypeHandler"/>
        <typeHandler javaType="BigDecimal" jdbcType="DECIMAL" handler="org.apache.ibatis.type.BigDecimalTypeHandler"/>
        <typeHandler javaType="Short" jdbcType="DECIMAL" handler="org.apache.ibatis.type.BigDecimalTypeHandler"/>
        <typeHandler javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"
                     handler="org.apache.ibatis.type.SqlTimestampTypeHandler"/>

    </typeHandlers>
  </configuration>
